# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Unsloth cache
unsloth_compiled_cache/
**/unsloth_compiled_cache/

# Logs
logs/*
!logs/.gitkeep
evaluation_logs/*
!evaluation_logs/.gitkeep
debug_input.png
debug_tagged.png

# metrics
metrics_results.csv


# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# System files
.DS_Store
Thumbs.db 